*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height:100vh;
    width: 100%;
}

.search-bar{
    width: 500px;
    padding: 20px 25px;
    background-color: #101010;
    border-radius: 100px;
}

.search-input{
    background-color: transparent;
    color: gainsboro;
    width: 100%;
    border: none;
    outline-width: 0;
    font-size: 19px;
}

.logo-image{
    border-radius: 50%;
    
}

.logo{
    margin-bottom: 50px;
}
.note h1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

/*read.html*/

.read-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.read-inner{
    color: white;
}

.read-inner{
    width: 800px;
    margin-top: 100px 0;
}

.article-title{
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

.article-description{
    color: ghostwhite;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 22px;
}

.back a img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

@media screen and (max-width: 760px) {

    .search-bar{
        width: 300px;
        padding: 20px 25px;
        background-color: #101010;
        border-radius: 100px;
    }
    .note h1{
        text-align: center;
        color: white;
        font-size: 20px;
        
    }

    .article-title{
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 20px;
    }
    
    .article-description{
        color: ghostwhite;
        letter-spacing: 1px;
        font-size: 15px;
        line-height: 22px;
        margin-right: 15px;
        margin-left: 15 px;
    }
    .back a img{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
    }
    
    
}

@media screen and (max-width: 500px) {

    .search-bar{
        width: 300px;
        padding: 20px 25px;
        background-color: #101010;
        border-radius: 100px;
    }
    .note h1{
        text-align: center;
        color: white;
        font-size: 20px;
        
    }

    .article-title{
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 20px;
    }
    
    .article-description{
        color: ghostwhite;
        letter-spacing: 1px;
        font-size: 15px;
        line-height: 22px;
        margin-right: 15px;
        margin-left: 15 px;
    }
    .back a img{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
    }
    
    
}
